/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #D9D9D9;
    font-family: 'Roboto', sans-serif; /* apply to whole doc */
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Reset */

/* Start of Custom Styles */
.quickintro,
.content {
    padding: 0.30rem 1.2rem;
    width: 60%;
    margin: 0 auto; /* put container right in the middle */
    letter-spacing: 0.03em;
}

/* Navigation Section */
.top-navigation {
    background-color: #3E3E3E;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #0D0D0D;
    z-index: 9999;

}
.top-navigation > .content {
    height: 3.500rem;

}
.top-navigation .logo {
    height: 2.750rem;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #D9D9D9;
    font-size: 1.375rem;
    -webkit-font-smoothing: antialiased; /* make font cleaner */
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.275rem;
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #D9D9D9;
    padding: 0.625rem 0;
    text-align: center;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #3E3E3E;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9
}
/* starting big pic part */
.introduction {

    background-image: url('../img/boat_grey_image.jpeg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    overflow: auto;
}

h1, h3 {
    text-align: center;
    font-weight: lighter;
}

h1 {
    color: #0D0D0D;
    font-size: 3.0rem;
    margin-top: 9rem;
}
h3 {
    color: #0D0D0D;
    font-size: 1.5rem;
    margin-top: 1.563rem;
}

/* start middle section with two pics */

.cases .content {
    margin-top: 7.875rem;
    color: #3E3E3E;
    text-align: center;
}
.cases h2 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0 0 4.0rem;
}

.heading {
    /* Layout Declarations */
    max-width: 19em;
    margin-top: 2em;
    color: #3E3E3E;
    margin-top: 5rem;
    text-align: center;
}

.quickintro > p {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #747474;
    font-weight: 100;
    margin-top: 1.5rem;
    -webkit-font-smoothing: antialiased;
}

.quickintro > h2 {
    font-size: 3rem;
    font-weight: 300;
    margin: 8rem 0 4.0rem;
}

.cases {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0rem;
    overflow: hidden;
}

.devices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;
    overflow: hidden;
}
.cases .devices > li {
    width: 50%;
    display: inline-block;
    float: left;
    /* styles to assist with debugging */
    box-sizing: border-box;
}

.cases .devices h3 {
    font-weight: 400;
    font-size: 1.0rem;
    margin: 2.5rem 0rem 1.875rem;
    color: #747474;
}

/* The footer */
.social {
    background-color: #3E3E3E;
    overflow: auto;
    padding-bottom: 3rem;
    text-align: center;
}

.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.content h5 {
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #D9D9D9;
}
.content .copy {
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-weight: 100;
    margin-top: 0.5rem;
    -webkit-font-smoothing: antialiased;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}

/* resizing */

@media only screen and (max-width: 700px) {
    /* Start of Custom Styles */
    .quickintro,
    .content {
        padding: 0.15rem 0.6rem;
    }
    .top-navigation .content {
        height: 1.750rem;
    }
    .top-navigation .logo {
        height: 1.875rem;
    }
    .top-navigation .links {
        font-size: 0.700rem;
    }
    .top-navigation .links li {
        margin-left: 1.275rem;
        width: 1.450rem;
        height: 1.450rem;
        padding: 0.315rem 0;
    }
    h1 {
        font-size: 1.5rem;
        margin-top: 4.5rem;
    }
    h3 {
        font-size: 0.750rem;
        margin-top: 0.800rem;
    }
    .cases .content {
        margin-top: 3.800rem;
    }
    .cases h2 {
        font-size: 1.5rem;
        margin: 0 0 2.0rem;
    }
    .heading {
        /* Layout Declarations */
        max-width: 9.5em;
        margin-top: 1em;
        margin-top: 2.5rem;
    }
    .quickintro > p {
        font-size: 0.5rem;
        margin-top: 0.750rem;
    }
    .quickintro > h2 {
        font-size: 1.5rem;
        margin: 4rem 0 2.0rem;
    }
    .devices {
        padding-bottom: 2.5rem;
    }
    .cases .devices h3 {
        font-size: 1.0rem;
        margin: 1.250rem 0rem 0.925rem;
    }
    /* The footer */
    .social {
        padding-bottom: 1.5rem;
    }
    .social .icons > li {
        border-radius: 0.625rem;
        width: 1.250rem;
        height: 1.250rem;
        margin: 0.625rem 2.5px;
        padding: 0.314rem 0;
    }
    .content h5 {
        font-size: 0.5rem;
    }
    .content .copy {
        font-size: 0.5rem;
        margin-top: 0.250rem;
    }
}